@media screen and (max-width: 600px){
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    header nav, header .div-button{
        display: none;
    }

    header .img-header{
       width: 130px;
    }
    
    header .btn-menu{
        width: 50px;
    }



    #s1 .cont-s1 .infos  img{
        width: 325px;
    }

    #s1 .cont-s1 .infos h4{
        font-size: 8px;
        letter-spacing: 6px;
    }
}